


{% extends 'admin/base.html' %}
{% load static %}
{% block javascripts %}
    {{ block.super }}
<script type="text/javascript" src="{% static 'app/js/action.js' %}"></script>

{% endblock %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static '/img/20220221_183455-removebg-preview.png'  %}" />
    <style>
          /* :root {
      --primary: #264b5d;
      --primary-fg: #eee;
      --body-fg: #eeeeee;
      --body-bg: #121212;
      --body-quiet-color: #e0e0e0;
      --body-loud-color: #ffffff;
      --breadcrumbs-link-fg: #e0e0e0;
      --breadcrumbs-bg: var(--primary);
      --link-fg: #81d4fa;
      --link-hover-color: #4ac1f7;
      --link-selected-fg: #6f94c6;
      --hairline-color: #272727;
      --border-color: #353535;
      --error-fg: #e35f5f;
      --message-success-bg: #006b1b;
      --message-warning-bg: #583305;
      --message-error-bg: #570808;
      --darkened-bg: #212121;
      --selected-bg: #1b1b1b;
      --selected-row: #00363a;
      --close-button-bg: #333333;
      --close-button-hover-bg: #666666;
  } */
  :root {
      --primary: #0398fc;
      --secondary: #c0c0c0;
      --accent: #206BA4;
      --primary-fg: #fff;
      --body-fg: #333;

  }
    </style>
{% endblock %}
{% block stylesheets %}

    {{ block.super }}
{% endblock %}